
<div class="container">
    <legend>Create a new client</legend>
    <form (ngSubmit)="create()">
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput  [(ngModel)] = "clientForm.name" name="name">
            <mat-hint>Name</mat-hint>
        </mat-form-field>
            

        <mat-form-field appearance="fill" >
            <mat-label>Input</mat-label >
            <input matInput [(ngModel)] = "clientForm.surname" name="surname"/>
            <mat-hint>Surname</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" >
        <mat-label>Input</mat-label>
        <textarea matInput [(ngModel)] = "clientForm.address" name="address"></textarea>
        <mat-hint>Address</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>Input</mat-label>
            <input matInput [(ngModel)] = "clientForm.phone" name="phone"/>
            <mat-hint>Phone</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Create</button>
    </form>
    
</div>